@page "{id:int?}"
@model RPInventarios.Pages.Usuarios.DetailsModel

@{
    ViewData["Title"] = "Detalles del usuario";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Contrasena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Contrasena)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.CorreoElectronico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.CorreoElectronico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Celular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Perfil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Perfil.Nombre)
        </dd>
    </dl>
</div>
<div>
    <div class="col">
        <partial name="Acciones/_Details" model="@Model.Usuario.Id" />
    </div>
</div>
