@page "{id:int?}"
@model RPInventarios.Pages.Usuarios.IndexModel

@{
    ViewData["Title"] = "Usuarios";
    // Lógica de botón para Sortear IDs por orden Ascendente o Descendente
    var ordenActual = Model.Orden ?? "Id";
    var direccionActual = Model.Direccion ?? "desc";
}

@await Html.PartialAsync("Acciones/_CrearBusqueda", new CrearBusquedaViewModel
{
    TerminoBusqueda = Model.TerminoBusqueda,
    TituloCrear = "Crear Usuario",
    TotalRegistros = Model.TotalRegistros
})

<!-- Tabla de usuarios -->
<div class="tabe-responsive">
    <table class="table table-borderless table-rounded table-fixed">
        <thead>
            <tr>
                <th class="github-dark-gray2 text-white text-center align-content-center p-3">
                    @Html.DisplayNameFor(model => model.Usuarios[0].Id)
                </th>
                <th class="github-dark-gray2 text-white text-center align-content-center p-3">
                    @Html.DisplayNameFor(model => model.Usuarios[0].Nombre)
                </th>
                <th class="github-dark-gray2 text-white text-center align-content-center">
                    @Html.DisplayNameFor(model => model.Usuarios[0].Apellidos)
                </th>
                <th class="github-dark-gray2 text-white text-center align-content-center">
                    @Html.DisplayNameFor(model => model.Usuarios[0].Username)
                </th>
                <th class="github-dark-gray2 text-white text-center align-content-center">
                    @Html.DisplayNameFor(model => model.Usuarios[0].Contrasena)
                </th>
                <th class="github-dark-gray2 text-white text-center align-content-center">
                    @Html.DisplayNameFor(model => model.Usuarios[0].CorreoElectronico)
                </th>
                <th class="github-dark-gray2 text-white text-center align-content-center">
                    @Html.DisplayNameFor(model => model.Usuarios[0].Celular)
                </th>
                <th class="github-dark-gray2 text-white text-center align-content-center">
                    @Html.DisplayNameFor(model => model.Usuarios[0].Perfil)
                </th>
                <th class="github-dark-gray2 text-white text-center align-content-center col-acciones">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Usuarios)
            {
                <tr>
                    <td class="github-dark-gray text-white text-center align-content-center col-id">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="github-dark-gray text-white text-center align-content-center col-nombre">
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td class="github-dark-gray text-white text-center align-content-center col-nombre">
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td class="github-dark-gray text-white text-center align-content-center col-nombre">
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td class="github-dark-gray text-white text-center align-content-center col-nombre">
                        @Html.DisplayFor(modelItem => item.Contrasena)
                    </td>
                    <td class="github-dark-gray text-white text-center align-content-center col-nombre">
                        @Html.DisplayFor(modelItem => item.CorreoElectronico)
                    </td>
                    <td class="github-dark-gray text-white text-center align-content-center col-nombre">
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                    <td class="github-dark-gray text-white text-center align-content-center col-nombre">
                        @Html.DisplayFor(modelItem => item.Perfil.Nombre)
                    </td>
                    <td class="github-dark-gray text-white text-center align-content-center">
                        <partial name="Acciones/_Crud" model="item.Id" />
                        <a asp-page="./CambiarContrasena" asp-route-id="@item.Id" class="btn btn-warning">
                            <i class="fa-solid fa-key"></i>&nbsp;Contraseña
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
