@page "{id:int?}"
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using RPInventarios.Models
@model RPInventarios.Pages.Productos.IndexModel

@{
    ViewData["Title"] = "Productos";
}

@await Html.PartialAsync("Acciones/_CrearBusqueda", new CrearBusquedaViewModel
{
    TerminoBusqueda = Model.TerminoBusqueda,
    TituloCrear = "Crear Producto",
    TotalRegistros = Model.TotalRegistros
})

<!-- Tabla de marcas -->
<table class="table table-borderless table-rounded">
    <thead>
        <tr>
            <th class="github-dark-gray2 text-white text-start">
                @Html.DisplayNameFor(model => model.Productos[0].Nombre)
            </th>
            <th class="github-dark-gray2 text-white text-start">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Productos)
        {
            <tr>
                <td class="github-dark-gray text-white align-content-center text-start" title="@item.Nombre">
                    @{
                        var nombre = item.Nombre;
                        var nombreCorto = nombre.Length > 25 ? nombre.Substring(0, 25) + "..." : nombre;
                        string estatusClase = item.Estatus switch
                        {

                            EstatusProducto.Activo => "estatus-circulo verde",
                            EstatusProducto.Inactivo => "estatus-circulo rojo",
                            EstatusProducto.EnProcesoActivacion => "estatus-circulo amarillo",
                            _ => "estatus-circulo gris"
                        };
                    }
                    @nombreCorto
                    <span class="@estatusClase" title="@item.Estatus"></span>
                </td>
                <td class="github-dark-gray text-white text-start">
                    <partial name="Acciones/_Crud" model="item.Id" />
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Enlaces de paginación -->
@if (Model.TotalPaginas > 1)
{
    <nav aria-label="Paginación">
        <ul class="pagination justify-content-center my-4">
            <li class="page-item @(Model.Pagina <= 1 ? "disabled" : "")">
                <a class="page-link github-dark-gray2 text-white" asp-route-Pagina="@(Model.Pagina - 1)" tabindex="-1" aria-disabled="@(Model.Pagina <= 1)">Anterior</a>
            </li>
            @for (int i = 1; i <= Model.TotalPaginas; i++)
            {
                var isActive = i == Model.Pagina;
                <li class="page-item @(isActive ? "active" : "")">
                    <a class="page-link @(isActive ? "github-dark-blue text-white border-white" : "github-dark-gray2 text-white")" asp-route-Pagina="@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.Pagina >= Model.TotalPaginas ? "disabled" : "")">
                <a class="page-link github-dark-gray2 text-white" asp-route-Pagina="@(Model.Pagina + 1)" aria-disabled="@(Model.Pagina >= Model.TotalPaginas)">Siguiente</a>
            </li>
        </ul>
    </nav>
}