@page "{id:int?}"
@model RPInventarios.Pages.Marcas.IndexModel

@{
    ViewData["Title"] = "Marcas";
}

@await Html.PartialAsync("Acciones/_CrearBusqueda", new CrearBusquedaViewModel
{
    TerminoBusqueda = Model.TerminoBusqueda,
    TituloCrear = "Crear Marca",
    TotalRegistros = Model.TotalRegistros
})

<!-- Tabla de marcas -->
<table class="table tabl-hover table-bordered table-strip">
    <thead class="bg-primary text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marcas[0].Nombre)
            </th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Marcas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td class="text-center">
                    <partial name="Acciones/_Crud" model="item.Id" />
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Enlaces de paginación -->
@if (Model.TotalPaginas > 1)
{
    <nav aria-label="Paginación">
        <ul class="pagination justify-content-center my-4">
            <li class="page-item @(Model.Pagina <= 1 ? "disabled" : "")">
                <a class="page-link" asp-route-Pagina="@(Model.Pagina - 1)" tabindex="-1" aria-disabled="@(Model.Pagina <= 1)">Anterior</a>
            </li>
            @for (int i = 1; i <= Model.TotalPaginas; i++)
            {
                <li class="page-item @(i == Model.Pagina ? "active" : "")">
                    <a class="page-link" asp-route-Pagina="@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.Pagina >= Model.TotalPaginas ? "disabled" : "")">
                <a class="page-link" asp-route-Pagina="@(Model.Pagina + 1)" aria-disabled="@(Model.Pagina >= Model.TotalPaginas)">Siguiente</a>
            </li>
        </ul>
    </nav>
}
